.titulo{
    color: orangered;
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto','Arial';
    margin-top: 50px;
}
.corpo{
    background-color: dimgray!important;
}
.calendario, .cadastroPessoa{
    text-align: center;
    margin-top: 25px;
    border: 5px;
}
.botao{
    text-align: center;
    margin-top: auto;
}
.lista{
    text-align: center;
    color: white!important;
}